.example-card {
  width: 300px;
}

.avatar-div {
  width: 100px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.flex-gap-15 {
  gap: 15px;
}


.demo-toggles {
  display: flex;
  flex-direction: column;
}

.demo-toggles * {
  margin-bottom: 16px;
}

.demo-options {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.demo-data * {
  margin: 16px 0;
}
